<!DOCTYPE html>
<html>
<head>
    <title>Добавить категорию</title>
</head>
<body>
    <h1>Добавить категорию</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="category_name">Название категории:</label>
            <input type="text" name="category_name" id="category_name" required>
        </p>
        <button type="submit">Добавить категорию</button>
    </form>
    <a href="{% url 'infoKategory' store.id %}">Назад к категориям</a>
</body>
</html>
