<!DOCTYPE html>
<html>
<head>
    <title>{{ category.name }} - Продукты</title>
</head>
<body>
    <h1>{{ category.name }} - Продукты</h1>
    <a href="{% url 'add_product' category.store.id category.id %}">Добавить продукт</a>
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} ({{ product.price }})
                <a href="{% url 'product_update' product.id %}">Редактировать</a>
                <a href="{% url 'product_delete' product.id %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'infoKategory' category.store.id %}">Назад к категориям</a>
</body>
</html>
